<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
       
         <li class = "nav-item">
            <a routerLink="/viewEmployee" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">View Employee</p></a>
        </li>
        <li class = "nav-item">
            <a routerLink="/addEmployee" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">Add Employee</p></a>
         </li>
         <li class = "nav-item">
            <a routerLink="/viewDepartment" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">View Department</p></a>
         </li>

         <li class = "nav-item">
            <a routerLink="/userDetails" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">User Details</p></a>
        </li>
        <li class = "nav-item">
            <a routerLink="/hrDetails" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">Hr Details </p></a>
        </li>
      
        
    </ul>
    <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>
    </div>
</nav>



